<!DOCTYPE html>
<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls blog</a></h1>
		</div>

		<div>
			<p>published: 14.02.2018, 13:52</p>
			<h2><a href="">My first post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneratis vestibulum. Done</p>
		</div>

		<div>
			<p>published: 14.02.2018, 13:52</p>
			<h2><a href="">My second post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneratis vestibulum. Donec id elit nom mu porta gravida at eget metus. Fusce dapibus, telus a cursus commodo</p>
		</div>
	</body>
</html>